h1
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2
{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

ul
{
    font-family: 'Times New Roman', Times, serif;
}

li
{
    font-family: 'Times New Roman', Times, serif;
}

p
{
    font-family: 'Times New Roman', Times, serif;
}

